DATABASE_URL=<database_url>
SECRET_ENCRYPTION_KEY=<command to generate a key: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())">
GIPHY_API_KEY=<giphy_api_key>
JWT_SECRET=<command to generate a secret: python -c "import secrets; print(secrets.token_urlsafe(32))">
JWT_EXPIRE_MINUTES=